In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('FakeNewsNet.csv')
df.head()

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1

In [26]:

df.shape

(23196, 5)

In [8]:
df.source_domain.value_counts()

source_domain
people.com                1786
www.dailymail.co.uk        964
en.wikipedia.org           741
www.usmagazine.com         709
www.etonline.com           666
                          ...
bioguide.congress.gov        1
dailyheadlines.net           1
www.duggarfamily.com         1
www.naturallycurly.com       1
flashnewscorner.com          1
Name: count, Length: 2441, dtype: int64

In [24]:
source_counts = df['source_domain'].value_counts()
sources_with_more_than_one_article = source_counts[source_counts > 10].index.tolist()
df_2 = df[df['source_domain'].isin(sources_with_more_than_one_article)]

In [25]:
df_2.shape

(18647, 5)

In [27]:
#plot correlation entre source et real/fake(1/0)
df_2['source_domain'] = df_2['source_domain'].astype('category')
df_2['source_domain'] = df_2['source_domain'].cat.codes

df_2['real'] = df_2['real'].astype('category')
df_2['real'] = df_2['real'].cat.codes

df_2['source_domain'].corr(df_2['real'])

/tmp/ipykernel_38848/1747819117.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['source_domain'] = df_2['source_domain'].astype('category')
/tmp/ipykernel_38848/1747819117.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['source_domain'] = df_2['source_domain'].cat.codes
/tmp/ipykernel_38848/1747819117.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['real'] = df_2['real'].astype('category')
/tmp/ipykernel_38848/1747819117.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['real'] = df_2['real'].cat.codes

0.005654082036038097

In [38]:
grouped_df = df.groupby('source_domain').agg({'real': ['count', 'sum']})
grouped_df.columns = ['total_articles', 'real_articles']
grouped_df['fake_articles'] = grouped_df['total_articles'] - grouped_df['real_articles']
grouped_df['fake_pourcentage'] = (grouped_df['fake_articles'] / grouped_df['total_articles'])*100

grouped_df_fake = grouped_df.sort_values(by=['fake_pourcentage', 'fake_articles'], ascending=[False, False])
grouped_df_real = grouped_df.sort_values(by=['fake_pourcentage', 'total_articles'], ascending=[True, False])

grouped_df_fake.head(10)

,total_articles,real_articles,fake_articles,fake_pourcentage
source_domain,,,,
www.eonline.com,154,0,154,100.0
www.imdb.com,145,0,145,100.0
www.nationalenquirer.com,53,0,53,100.0
yournewswire.com,25,0,25,100.0
www.celebdirtylaundry.com,21,0,21,100.0
www.celebitchy.com,21,0,21,100.0
www.pressreader.com,20,0,20,100.0
starmagazine.com,16,0,16,100.0
www.dailymotion.com,12,0,12,100.0
www.magzter.com,10,0,10,100.0

In [39]:
grouped_df_real.head(10)

,total_articles,real_articles,fake_articles,fake_pourcentage
source_domain,,,,
www.longroom.com,549,549,0,0.0
bojtv.com,98,98,0,0.0
wstale.com,96,96,0,0.0
article.wn.com,93,93,0,0.0
www.zerchoo.com,67,67,0,0.0
nextdivas.com,64,64,0,0.0
gossipbucket.com,62,62,0,0.0
dailynews.news,58,58,0,0.0
www.trueara.com,49,49,0,0.0
en.paperblog.com,48,48,0,0.0